@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.page {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.01em;
  background: #fff;
  color: #000; }

h1, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin: 0 0 30px 0; }

.image {
  padding: 10px; }
  .image img {
    width: 100%; }

.menu, .pull-right {
  text-align: center; }
  .menu .navbar-default, .pull-right .navbar-default {
    background: #fff;
    border: none; }
  .menu li, .pull-right li {
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    .menu li a, .pull-right li a {
      text-transform: uppercase;
      color: #232323;
      line-height: 24px;
      letter-spacing: 0.05em;
      font-weight: 700; }
      .menu li a:hover, .pull-right li a:hover {
        background: none; }
      .menu li a:focus, .pull-right li a:focus {
        background: none; }
      .menu li a::after, .pull-right li a::after {
        content: "";
        height: 4px;
        width: 0;
        background: #000;
        display: block; }
      .menu li a:focus::after, .pull-right li a:focus::after {
        width: inherit; }

.menu, .logo-picture {
  float: left; }

.logo-picture {
  padding: 0 60px; }

.menu, .icon-search, .icon-social {
  padding-top: 15px; }

.icon-search .fa {
  padding: 10px 15px;
  font-size: 14px; }

.icon-social a {
  color: #232323; }

/* ul {
	padding: 0;
	list-style: none;
	margin:0;
	li {
		display: inline-block;
		text-transform: uppercase;
	}
}
#fh5co-header {	
	padding: 10px;
	overflow:hidden;
	a {
		text-transform: uppercase;
		font-weight: 700;
		font-family: $font-family-oswald;
		color: #000;
		letter-spacing: 0.1em;
		&:hover {
			background:none;
		}
	}
	.navbar-nav {
		li a{
			@include transition(.3s);
			&::after {
				content: "";
				height: 3px;
				width: 0;
				background: #000;
				display: block;
				
			}
			&:hover::after {
				width: inherit;
			}
					
			
		}
	}
	.col-left,.col-right {
		padding: 15px 30px 0 40px;
	}
	.icon,.menu-2 {
		float: left;
	}
	.icon-social {
		margin-top: 10px;
	}
	.icon-social,.menu-1 {
		float: right;
	}
	.row-header {
		padding: 10px;
	}
	.icon {
		padding: 15px 0;
	
		i {
			font-size: 14px;
			padding: 10px
		}
	}		
	.col-middle {
		.home-logo {
			height: 70px;
		}
		
	}
} */
#register {
  padding: 30px 0;
  background: #eeeeee;
  overflow: hidden;
  z-index: 9; }
  #register .login, #register .text-content {
    background: #e6e6e6;
    font-size: 14px;
    color: #000;
    z-index: 99; }
  #register .text-center {
    padding: 10px; }
    @media (min-width: 480px) and (max-width: 767px) {
      #register .text-center .navbar-form {
        float: none; }
      #register .text-center .btn-danger {
        width: 50%; }
      #register .text-center .form-control {
        margin: auto;
        width: 50%; } }
    @media (min-width: 767px) and (max-width: 991px) {
      #register .text-center .navbar-form {
        float: none !important; } }
  #register:nth-last-child + .text-center {
    margin-bottom: 10px; }
  #register .form-group input {
    max-width: 95%;
    height: 30px;
    padding: 0 5px;
    border: none;
    border-radius: 0; }
  #register button {
    padding: 5px 9px;
    border: none;
    border-radius: 0;
    font-weight: 700; }
    #register button:hover {
      background: #fff; }
  #register .login p {
    padding-left: 10px;
    font-size: 9px;
    font-style: italic;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    float: left; }
  @media (min-width: 480px) and (max-width: 991px) {
    #register .login p {
      float: none;
      margin-bottom: 0;
      text-align: center !important; } }
  #register .text {
    margin-bottom: 70px; }
    #register .text h2 {
      text-transform: uppercase; }
    #register .text p {
      font-family: "Oswald", sans-serif;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 1px; }
  #register h2 {
    font-family: "Oswald", sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 30px 0 60px 0;
    letter-spacing: 2px; }
  #register span {
    font-size: 24px;
    text-transform: uppercase; }
  #register .btn-danger {
    font-size: 14px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
    border-radius: 0;
    width: 50%;
    position: relative;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    #register .btn-danger:hover {
      background: #4e4d4d;
      color: #fff;
      border-color: #fff; }
    @media (max-width: 480px) {
      #register .btn-danger {
        width: 80%; } }
  #register .btn-danger + .btn-danger {
    font-size: 10px;
    padding: 5px 20px; }
    #register .btn-danger + .btn-danger i {
      font-size: 24px;
      position: absolute;
      left: 13%;
      transform: translateX(-13%);
      color: #3f5a93; }
    #register .btn-danger + .btn-danger:hover {
      background: #3f5a93;
      color: #fff;
      border: none; }
      #register .btn-danger + .btn-danger:hover i {
        color: #fff; }
  #register .login p {
    font-size: 9px;
    font-style: italic;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px; }

footer {
  background: #333333;
  color: #babbbb;
  text-transform: uppercase; }
  footer .pull-left p {
    padding: 15px; }
  footer .pull-right a {
    color: #babbbb; }
  @media (max-width: 480px) {
    footer .pull-right, footer .pull-left {
      text-align: center;
      width: 100%; }
      footer .pull-right a, footer .pull-right p, footer .pull-left a, footer .pull-left p {
        padding: 0; } }

#list-avatar {
  padding: 20px 40px; }
  @media (min-width: 480px) and (max-width: 767px) {
    #list-avatar .responsive-picture {
      margin: auto; } }
  #list-avatar .navbar-nav li {
    float: none; }
    #list-avatar .navbar-nav li a {
      padding: 5px 0;
      color: #000; }
  #list-avatar .cricle-avatar {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #ccc; }
    @media (max-width: 480px) {
      #list-avatar .cricle-avatar {
        margin: auto;
        margin-bottom: 20px;
        width: 200px;
        height: 200px; } }
  @media (max-width: 992px) {
    #list-avatar .col-left {
      float: left; }
      #list-avatar .col-left .cricle-avatar {
        width: 130px;
        height: 130px; }
    #list-avatar .col-right {
      float: right; } }
  @media (max-width: 767px) {
    #list-avatar > .col-left {
      width: 100%;
      float: none; }
      #list-avatar > .col-left .small-picture {
        float: left; }
      #list-avatar > .col-left .navbar-nav {
        float: right; }
        #list-avatar > .col-left .navbar-nav a {
          padding: 10px; } }
  @media (max-width: 553px) {
    #list-avatar .col-left .cricle-avatar {
      width: 200px;
      height: 200px; } }

#profile .col-middle {
  margin-top: 50px; }
#profile .navbar {
  margin-bottom: -15px; }
#profile .entry-row {
  max-width: 900px;
  margin: auto; }
#profile .nav-tabs-primary {
  margin-bottom: 15px;
  margin-top: 10px; }
  #profile .nav-tabs-primary li {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 4px;
    line-height: 1.42857143; }
    #profile .nav-tabs-primary li a {
      background: #e6e6e6;
      letter-spacing: 0.01em;
      line-height: auto;
      border-radius: 10px 10px 0 0;
      padding: 5px 30px;
      border: 1px solid #dddcdc; }
      @media (max-width: 543px) {
        #profile .nav-tabs-primary li a {
          padding: 2px 4px; } }
      @media (max-width: 767px) {
        #profile .nav-tabs-primary li a {
          font-size: 10px;
          padding: 5px 4px; } }
#profile .nav-tabs-primary > li.active > a,
#profile .nav-tabs-primary > li.active > a:hover,
#profile .nav-tabs-primary > li.active > a:focus {
  color: #000;
  cursor: default;
  background-color: #c7c7c7;
  padding: 15px 30px 5px 30px; }
  @media (max-width: 544px) {
    #profile .nav-tabs-primary > li.active > a,
    #profile .nav-tabs-primary > li.active > a:hover,
    #profile .nav-tabs-primary > li.active > a:focus {
      padding: 10px 5px 2px 5px; } }
  @media (max-width: 767px) {
    #profile .nav-tabs-primary > li.active > a,
    #profile .nav-tabs-primary > li.active > a:hover,
    #profile .nav-tabs-primary > li.active > a:focus {
      padding: 10px 5px 5px 5px; } }
#profile .nav-tabs-primary.nav-justified {
  width: 100%;
  border-bottom: 0; }
  #profile .nav-tabs-primary.nav-justified li {
    float: none; }
    #profile .nav-tabs-primary.nav-justified li > a {
      margin-bottom: 5px;
      text-align: center; }
#profile .profile {
  background: #e6e6e6;
  border: 1px solid #dedddd;
  padding-top: 15px;
  padding-bottom: 38px; }
  #profile .profile .table td {
    border: none;
    text-transform: capitalize; }
    #profile .profile .table td span {
      font-weight: bold; }

#register-page h2, #register-page h3, #register-page h4, #register-page h5, #register-page h6 {
  color: #000;
  font-weight: bold;
  letter-spacing: 0,01em;
  margin: 0;
  padding: 0; }
#register-page h2 {
  text-transform: capitalize;
  font-size: 18px; }
  #register-page h2 span {
    text-transform: uppercase;
    font-size: 24px; }
#register-page th {
  text-transform: uppercase;
  line-height: 40px; }
#register-page table {
  margin-top: 40px; }
#register-page td + td .form-control, #register-page td + td select {
  margin-left: 10px; }
#register-page select {
  width: 100%;
  padding: 10px; }
#register-page textarea {
  padding: 10px;
  width: 100%; }
#register-page .entry-row {
  padding-top: 30px; }
#register-page .form-control, #register-page select, #register-page textarea {
  border: none;
  border-radius: 0;
  margin-bottom: 10px; }
#register-page .btn {
  background: #fff;
  border-radius: 0;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: 600; }
#register-page .large-text {
  padding: 20px 60px; }
#register-page .checkbox {
  clear: both;
  width: 860px;
  margin: auto; }
#register-page .check {
  float: left; }
  #register-page .check label {
    line-height: 22px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.01em;
    width: 70%;
    position: relative; }
    #register-page .check label input {
      display: none; }
    #register-page .check label::before {
      content: "";
      width: 15px;
      height: 15px;
      background: #fff;
      border: 1px solid #b6b6b6;
      display: block;
      position: absolute;
      bottom: 35%;
      left: -5%;
      transform: translateY(-35%); }

/*# sourceMappingURL=wizteam.css.map */
