#register {
    padding: 30px 0;
    background: #eeeeee;
    overflow: hidden;
    z-index: 9;

    .login,.text-content  {
		float: left;
		width: 32.333333%;
		margin-right: 15px;
		background: #e6e6e6;
		font-size: 14px;
		color: #000;
		z-index: 99;
		padding-right: 20px;
    }
    .text-content + .login {
    	margin: 0;
    }
    .form-group + .form-group {
    	margin-left: 10px;
    }
    .text {
    	margin-bottom: 70px;
    	h2 {
    		text-transform: uppercase;
    	}
    	p {
    		font-family: $font-family-oswald;
    		font-size: 11px;
    		line-height: 24px;
    		letter-spacing: 1px;
    	}
    }
    .two-buttons {
		clear: both;
		margin-bottom: 30px;
    }
    
    h2 {
    	font-family: $font-family-oswald;
    	color: #000;
    	font-size: $font-size-large;
    	text-transform: capitalize;
    	font-weight: bold;
    	margin: 30px 0 60px 0;
    	letter-spacing: 2px;
    }
    span {
    	font-size: 24px;
    	text-transform: uppercase;
    } 
    .form-control {
    	height: 30px;
	    padding: 10px 0 10px 3px;
	    font-size: 14px;
	    border-radius: 0;
	    border: none;
	    box-shadow: none;
	}

    .btn-default {
    	padding: 4px 10px;
    	font-weight: bold;
    	border-radius:0; 
    	margin-left: 5px;
    	border: none;
	    box-shadow: none;
    }
    .btn-danger {
    	font-size: 14px;
	    background: #fff;
	    color: #000;
	    border: 2px solid #000;
	    text-transform: capitalize;
	    margin-bottom: 15px;
	    font-weight: 600;
	    border-radius:0;
	    width: 50%;
	    position: relative;
	    @include transition(.3s);

	    &:hover {
	    		background: #4e4d4d;
	    		color: #fff;
	    		border-color: #fff;
	    }

	}
	.btn-danger + .btn-danger {
		font-size: 10px;
		padding: 5px 20px;
		i {
			font-size: 24px;
			position: absolute;
			left: 13%;
			transform: translateX(-13%);
			color: #3f5a93;
		}

		&:hover{
			background:#3f5a93;
			color:#fff;
			border:none;
			i {
				color:#fff;
			}
		}
	}
	.login {
		p {
			font-size: 9px;
	    	font-style: italic;
	    	text-align: left;
	    	font-weight: 600;
	    	letter-spacing: 1px;
		}
	}
	
	@media(max-width:1200px) {
		.login,.text-content {
			width: 31.3333333%;
			margin-left: 0px;
		    padding-left: 20px;
		    .form-group {
				margin-left: 0;
				margin-bottom: 10px;
			}
			.btn-default {
				width: 30%;
			}
		}
		.btn {
			width: 80%;
		}
	}
	@media(max-width:768px) {
		.login,.text-content {
			width: 31.333333%;
			margin-left: 0px;
		    padding-left: 10px;
		    .form-group {
				margin-left: 0;
			}
			.btn-default {
				width: 30%;

			}
		
		}
		.btn {
			width: 90%;
		}
	}
	@media(max-width:553px) {
		.login,.text-content {
			width: 100%;
			margin-bottom: 10px;					    			
		}		
	}
}
#list-avatar {
	padding: 20px 40px;

	.small-picture {
		.responsive-picture {
			display: none;
		}
		@media(max-width:553px) {
			.responsive-picture {
			display: block;			
			}
			> img {
				display: none;
			}
		}

	}
	.navbar-nav li{
		float: none;
		a {
			padding: 5px 0;
    		color: #000;
		}
	}
	.cricle-avatar {
		width: 200px;
		height: 200px;
		border: 1px solid #fff;
		border-radius: 50%;
		background: #ccc;
		@media(max-width:553px) {
			margin: auto;
			margin-bottom: 20px;
			width: 200px;
    		height: 200px;
		}

	}
	@media(max-width:992px) {
		.col-left {
			float: left;
			.cricle-avatar {
				width: 130px;
    			height: 130px;
			}
		}
		.col-right {
			float: right;
		}
	}
	@media(max-width:767px) {
		> .col-left {
				width: 100%;
				float: none;
				.small-picture {
					float: left;
				}
				.navbar-nav {
					float: 	right;
				 	a{
					padding: 10px;
					}
				}
			}
	}
	@media(max-width:553px) {

		.col-left {
			.cricle-avatar {
				width: 200px;
    			height: 200px;
			}
		}
	}
	
}