#register {
    padding: 30px 0;
    background: #eeeeee;
    overflow: hidden;
    z-index: 9;

    .login,.text-content  {				
		background: #e6e6e6;
		font-size: 14px;
		color: #000;
		z-index: 99;		
    }
    .text-center {
    	padding: 10px;    	
    	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
    		.navbar-form {
    			float: none;
    		}
    		.btn-danger {
    			width: 50%;
    		}
    		.form-control {
    			margin:auto;
    			width: 50%;
    		}
    	}
    	@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
			.navbar-form {
				float: none!important

			}
    	}
    	
    }
    &:nth-last-child + .text-center {
    		margin-bottom: 10px;
    	}
    .form-group {
    	input {
    		max-width: 95%;
    		height: 30px;
    		padding: 0 5px;
    		border: none;
    		border-radius: 0;
    	}   	
    }
    button {
    		padding: 5px 9px;
    		border:none;
    		border-radius: 0;
    		font-weight: 700;
    		&:hover {
    			background: #fff;
    		}
    	}
   
    .login {
    		p {
    			padding-left: 10px;
    			font-size: 9px;
    	    	font-style: italic;
    	    	text-align: left;
    	    	font-weight: 600;
    	    	letter-spacing: 1px;
    	    	text-transform: capitalize;
    	    	float: left;
    		}
    		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
    			p {
    				float: none;
    				margin-bottom:0;
    				text-align: center!important;
    				
    			}
    		}
    		
    	}
    .text {
    	margin-bottom: 70px;
    	h2 {
    		text-transform: uppercase;
    	}
    	p {
    		font-family: $font-family-oswald;
    		font-size: 11px;
    		line-height: 24px;
    		letter-spacing: 1px;
    	}
    }
    h2 {
    	font-family: $font-family-oswald;
    	color: #000;
    	font-size: $font-size-large;
    	text-transform: capitalize;
    	font-weight: bold;
    	margin: 30px 0 60px 0;
    	letter-spacing: 2px;
    }
    span {
    	font-size: 24px;
    	text-transform: uppercase;
    } 
    .btn-danger {
    	font-size: 14px;
    	    background: #fff;
    	    color: #000;
    	    border: 2px solid #000;
    	    text-transform: capitalize;
    	    margin-bottom: 15px;
    	    font-weight: 600;
    	    border-radius:0;
    	    width: 50%;
    	    position: relative;
    	    @include transition(.3s);
    
    	    &:hover {
    	    		background: #4e4d4d;
    	    		color: #fff;
    	    		border-color: #fff;
    	    }
    	@media (max-width: $screen-xs) {
    		 width: 80%;
    	 }
    
    }
	.btn-danger + .btn-danger {
		font-size: 10px;
		padding: 5px 20px;
		i {
			font-size: 24px;
			position: absolute;
			left: 13%;
			transform: translateX(-13%);
			color: #3f5a93;
		}

		&:hover{
			background:#3f5a93;
			color:#fff;
			border:none;
			i {
				color:#fff;
			}
		}
	}
	.login {
		p {
			font-size: 9px;
	    	font-style: italic;
	    	text-align: left;
	    	font-weight: 600;
	    	letter-spacing: 1px;
		}
	}
    
}
footer {
	background:#333333;
	color: #babbbb;
	text-transform: uppercase;
	.pull-left p{
		padding: 15px;
	}
	.pull-right a{
		color: #babbbb;
	}
	@media (max-width: $screen-xs) {
    	.pull-right,.pull-left {
    		text-align: center;
    		width: 100%;
			
			a,p{
				padding: 0;
			}
    	}
    }

}

#list-avatar {
	padding: 20px 40px;
	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
		.responsive-picture {	
			margin: auto;		
		}
	
	}
	
	.navbar-nav li{
		float: none;
		a {
			padding: 5px 0;
    		color: #000;
		}
	}
	.cricle-avatar {
		width: 200px;
		height: 200px;
		border: 1px solid #fff;
		border-radius: 50%;
		background: #ccc;
		@media (max-width: $screen-xs) {
			margin: auto;
			margin-bottom: 20px;
			width: 200px;
    		height: 200px;
		}

	}
	@media(max-width:992px) {
		.col-left {
			float: left;
			.cricle-avatar {
				width: 130px;
    			height: 130px;
			}
		}
		.col-right {
			float: right;
		}
	}
	@media(max-width:767px) {
		> .col-left {
				width: 100%;
				float: none;
				.small-picture {
					float: left;
				}
				.navbar-nav {
					float: 	right;
				 	a{
					padding: 10px;
					}
				}
			}
	}
	@media(max-width:553px) {

		.col-left {
			.cricle-avatar {
				width: 200px;
    			height: 200px;
			}
		}
	}
	
}